
/* Defining variables*/
:root{
    --backgroundcolor:#89b0ae;
    --txtcolor: rgb(161, 118, 2);
    --bdtxtcolor: white;
    --boxcolor: rgb(23, 47, 47);
    --font:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
  box-sizing: border-box;
}

/* Background color not working*/
body {
  font-family: var(--font);
  padding: 5px;
}

/* Header */
.header {
  background-image: url('../images/background.png');
  padding: 6px;
  text-align: center;
  font-size: 20px;
  color: var(--txtcolor);
  margin-bottom: 2px;
}

/* Navigators*/
.topnav {
  overflow: hidden;
  background-color: var(--backgroundcolor);
  width: 100%;
  height: 50px;
}

.topnav h2 {
  color: var(--txtcolor);
  font-family: var(--font);
  float:left;
  display: block;
  padding-bottom: 30px;
  padding-left: 15px;
  font-size: 20Px;
}

/* Style the top navigator links */
.topnav ul li{
  font-size: 20px;
  color: var(--txtcolor);
  font-family: var(--font);
  float: right;
  display: block;
  padding: 0px 15px;
  text-decoration: underline;
}

/* Change color on hover */
.topnav a:hover {
  background-color: white;
  color: black;
}

/* Left column */
.right {   
  float: left;
  width: 75%;
  padding-left: 5px;
}
  
  /* Right column */
.left {
  float: left;
  width: 25%;
  padding-bottom: 0;
}

.left{
  display: grid;
  grid-template-rows: auto auto auto;
  grid-gap: 200px;
  position: right;
}

/* about section */
.about{
  overflow: hidden;
  background-color: var(--backgroundcolor);
  width: 100%;
  height: 40%;
  margin-top: 4px;
}

/* About section paragraph*/
.about p{
  padding-left: 70px;
  padding-top: 10px;
  font-family: var(--font);
  color: var(--txtcolor);
}

/* my picture section */
.mypic img{
  background-color: var(--backgroundcolor));
  padding-bottom: 15px;
  width: 250px;
  height: 300px;
}

.work img{
  width: 400px;
  height: 200px;
  padding-left: 20px;
  background-color: var(--backgroundcolor);
  border-radius: 20px;
}

/* work grid*/
.work{
  display: grid;
  flex-direction:row;
  grid-template-columns: auto auto;
  background-color: var(--backgroundcolor);
  margin-top: 4px;
  margin-bottom: 4px;
}

.thumbnail:hover {
  position:relative;
  top:-25px;
  left:-35px;
  width:500px;
  height:auto;
  display:block;
  z-index:1000;
}


/* Contacts*/
.contact-me {
  overflow: hidden;
  background-color: var(--backgroundcolor);
  width: 100%;
  height: 5%;
  padding-left: 200px;
  margin-bottom: 4px;
}

.contact-me p {
  display: inline-block;
  color: var(--txtcolor);
  padding: 0px 20px;
  font-size: 20px;
  text-decoration: underline;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer p {
  grid-area: footer;
  background-color: var(--backgroundcolor);
  color: var(--txtcolor);
  padding: 10px;
  text-align: center;
  font-family: var(--font);
  font-size: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .left, .right {   
    width: 100%;
    padding: 0;
  }


/* Responsive layout - when the screen is less than 600px wide, make the navigation links stack on top of each other instead of next to each other */}

@media screen and (max-width: 600px) {
  .work {   
      width: 100%;
      padding: 0;
    }
  }

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}