
/* Defining variables*/
:root{
    --bkcolor:#89b0ae;
    --h-bkcolor:rgb(100, 136, 133);
    --txtcolor: rgb(230, 174, 33);
    --bdtxtcolor: white;
    --boxcolor: darkslategray;
    --font:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Background color of the page*/
body {
    background-color: var(--bkcolor);
}

/* header backgrond pading and border info */
.header {
    padding: 20px;
    background-color: var(--h-bkcolor);
    border: 2px solid var(--txtcolor);
}

/* links at the header*/
.header ul li {
    padding-top: 1px;
    margin-left: 15px;
    display: inline-block;
    float: right;
    font-family: var(--font);
    font-size: 16px;
}

/* set the color of the header  */
a {
    color: var(--txtcolor);
    text-decoration:none;
}

/* sets all paragraphs size to 12 */
p {
    font-size: 12px;
}

/* disply my image as a background */
.hewa{
    height: 100%;
    width: 100%;
    margin-bottom: 5px;
    border: 2px solid var(--bxcolor);
    background-size: cover; 
    background-position: 0 -200px;  
    
}

.h4 section{
    align-items: flex-start;
    color: white;
}

/* disply the image for work to the right */
.img-right {
    float: right;
    margin-left: 20px;
}

/* About Me section should display */
.about{
    margin-bottom: 10px;
    padding: 20px;
    height: 200px;
    font-family: var(--font);
    background-color: var(--boxcolor);
    color:var(--txtcolor);
}

/* Work section*/
.work-body{
    margin-bottom: 10px;
    padding: 20px;
    height: 200px;
    font-family: var(--font);
    background-color: var(--boxcolor);
    color:var(--txtcolor);
}

.work-body p{
    /* set styles to make it so code wraps in <pre> instead of overflowing */
    white-space: pre-wrap;
    overflow: auto;
    tab-size: 4;
    padding: 1.2rem 1rem;
    border-radius: 8px;
    /* use linear-gradient() function to create a fading background  */
    display: flex;
    align-items: center;
  }

/* Contact Me header*/
.contact-me h4{
    margin-left: 1px;
    font-family: var(--font);
    color: var(--txtcolor);
    display: flex;
    justify-content: first baseline;
    flex-wrap: wrap;
}

/* Contact me links */
.contact-details p{
    font-family: var(--font);
    color: var(--txtcolor);
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 20px;
    display: inline-block;
}

/* Specs for the footer*/
.footer {
    border-style: solid ;
    padding: 6px;
    font-family: var(--font);
    text-align: center;
    color: var(--txtcolor);
    background-color: var(--h-bkcolor);
}