/* Defining variables*/
:root{
    --backgroundcolor:#174134dd;
    --txtcolor: rgb(74, 57, 9);
    --boxcolor: rgb(23, 47, 47);  
}

* {
  box-sizing: border-box;
  font-family: 'Shadows Into Light', cursive;
  color: rgb(57, 15, 48);
}

body {
  color: var(--txtcolor);
}

h3{
font-size: 2.25rem;
}

/*-----------Header Section-------------*/

/* Welcome Header Section */
.header {
  background: linear-gradient(to right, rgb(85, 30, 73) 0%, rgb(176, 187, 189) 63%);
  padding: 1px;
  text-align: center;
  font-size: 2.75rem;
}

/* Navigators*/
.topnav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--backgroundcolor);
  padding-left: 4%;
  padding-right: 4%;
}


.topnav ul li{
  padding: 0px 10px 0px 10px;
  display: inline-flex;
  flex-direction:row;
  justify-content: right; 
  list-style-type: none;
  border-right: 1px solid rgb(85, 30, 73);
  font-size:1.75rem;
  font-weight: bold;
  
}

.topnav h2 {
  display: block;
  float: left;
  font-size: 2.5rem;
  font-weight: bold;
}

/* Change color on hover */
.topnav a:hover {
  background-color: white;
  color: black;
}
/*--------------------------------------*/

figure{
  font-size: 20px;
}

/*-----------About Me Section-----------*/

/* about section */
.aboutsection{
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  justify-content: space-between;
  padding-left: 50px;
  align-items: center;
}

/* About section paragraph*/
.abouttitle{
  width: 15%;
}
.about{
  font-family: var(--font);
  color: var(--txtcolor);
  font-size: 1.25rem;
  width: 73%;
  padding-right: 0%;
}

/* my picture section */
.mypic {
  width: 12%;
  padding-left: 5%;
}
.mypic img{
  width: 330px;
  height: 300px;
  padding-bottom: 10px;
  border-radius: 50%;
}

body{
  background-image: url('../images/bk-image.jpeg');
  background-repeat: no-repeat;
  background-size: 113% 79%;
 
  
}
/*-------------------------------------*/

/*-------------Work Section------------*/
/* Work Section*/
.worktitle{
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  justify-content: space-between;
  padding-left: 100px;
  align-items: center;

}

/* Work Section*/
.worktitile{
  width: 10%;
}
.work{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  width: 90%;
  
}

.work figure{
  width: 350px;
  height: 300px;
  border-radius: 5px;
  text-align: center;
  font-size: 1.25rem;
}
.col1, .col2, .col3{
  width: 30%;
}


.projects:hover {
  position:relative;
  top:-5px;
  left:-3px;
  width:300px;
  height:150px;
  display:block;
}
/*-------------------------------------*/

/*---------Contact Me Section----------*/
/* Contact Me section*/
.contacttitle{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 80px 0px 80px;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--backgroundcolor)
}

.contact ul li{
  display: inline-flex;
  flex-direction:row;
  text-align: center;
  text-decoration: underline;
  font-size: 38px;
  padding: 20px;
}
/*-------------------------------------*/

/*------------Footer Section-----------*/
.footer p {
  flex-direction: row;
  background-color: rgb(80, 82, 81);
  padding: 25px;
  text-align: center;
  font-size: 26px;
}
/*-------------------------------------*/

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .section main{   
    width: 100%;
    padding: 0;
  }
}
/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}